.container {
  padding: 3rem;
  margin-top: 2rem;
  max-width: 50rem;
}

.sliderContainer,
.priceTypes > div {
  margin: 0.5rem 0;
}

.sliderContainer > span:first-child,
.priceTypes > span {
  font-size: 0.9rem;
  color: grey;
}

.InputsContainer {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1024px) {
  .container {
    padding: 1rem;
  }

  .InputsContainer {
    flex-direction: column;
  }
  .priceTypes {
    display: flex;
    flex-direction: column;
    margin: 1.5rem 0;
  }
  .sliderContainer {
    margin: 0;
  }
}
