.header nav {
  /* max-width: 42rem; */
  /* margin: 0 auto; */
  padding: 0.2rem 1.25rem;
}
.header ul {
  display: flex;
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
.header a {
  text-decoration: none;
}
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo a {
  color: #474646;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 2rem;
  font-weight: bold;
}

.dialogTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.25rem;
  font-weight: 500;
  padding: 1rem 0.5rem 1rem 1.25rem;
}

.dialogTitle button {
  padding: 0;
}
