.businessesContainer {
  margin: 7rem 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 500px) {
  .businessesContainer {
    width: auto;
    display: flex;
    flex-direction: column;
    margin: 5rem 0;
  }
}
